*, ::before, ::after {

    --tw-border-spacing-x: 0;

    --tw-border-spacing-y: 0;

    --tw-translate-x: 0;

    --tw-translate-y: 0;

    --tw-rotate: 0;

    --tw-skew-x: 0;

    --tw-skew-y: 0;

    --tw-scale-x: 1;

    --tw-scale-y: 1;

    --tw-pan-x:  ;

    --tw-pan-y:  ;

    --tw-pinch-zoom:  ;

    --tw-scroll-snap-strictness: proximity;

    --tw-ordinal:  ;

    --tw-slashed-zero:  ;

    --tw-numeric-figure:  ;

    --tw-numeric-spacing:  ;

    --tw-numeric-fraction:  ;

    --tw-ring-inset:  ;

    --tw-ring-offset-width: 0px;

    --tw-ring-offset-color: #fff;

    --tw-ring-color: rgb(59 130 246 / 0.5);

    --tw-ring-offset-shadow: 0 0 #0000;

    --tw-ring-shadow: 0 0 #0000;

    --tw-shadow: 0 0 #0000;

    --tw-shadow-colored: 0 0 #0000;

    --tw-blur:  ;

    --tw-brightness:  ;

    --tw-contrast:  ;

    --tw-grayscale:  ;

    --tw-hue-rotate:  ;

    --tw-invert:  ;

    --tw-saturate:  ;

    --tw-sepia:  ;

    --tw-drop-shadow:  ;

    --tw-backdrop-blur:  ;

    --tw-backdrop-brightness:  ;

    --tw-backdrop-contrast:  ;

    --tw-backdrop-grayscale:  ;

    --tw-backdrop-hue-rotate:  ;

    --tw-backdrop-invert:  ;

    --tw-backdrop-opacity:  ;

    --tw-backdrop-saturate:  ;

    --tw-backdrop-sepia:  
}

::-webkit-backdrop {

    --tw-border-spacing-x: 0;

    --tw-border-spacing-y: 0;

    --tw-translate-x: 0;

    --tw-translate-y: 0;

    --tw-rotate: 0;

    --tw-skew-x: 0;

    --tw-skew-y: 0;

    --tw-scale-x: 1;

    --tw-scale-y: 1;

    --tw-pan-x:  ;

    --tw-pan-y:  ;

    --tw-pinch-zoom:  ;

    --tw-scroll-snap-strictness: proximity;

    --tw-ordinal:  ;

    --tw-slashed-zero:  ;

    --tw-numeric-figure:  ;

    --tw-numeric-spacing:  ;

    --tw-numeric-fraction:  ;

    --tw-ring-inset:  ;

    --tw-ring-offset-width: 0px;

    --tw-ring-offset-color: #fff;

    --tw-ring-color: rgb(59 130 246 / 0.5);

    --tw-ring-offset-shadow: 0 0 #0000;

    --tw-ring-shadow: 0 0 #0000;

    --tw-shadow: 0 0 #0000;

    --tw-shadow-colored: 0 0 #0000;

    --tw-blur:  ;

    --tw-brightness:  ;

    --tw-contrast:  ;

    --tw-grayscale:  ;

    --tw-hue-rotate:  ;

    --tw-invert:  ;

    --tw-saturate:  ;

    --tw-sepia:  ;

    --tw-drop-shadow:  ;

    --tw-backdrop-blur:  ;

    --tw-backdrop-brightness:  ;

    --tw-backdrop-contrast:  ;

    --tw-backdrop-grayscale:  ;

    --tw-backdrop-hue-rotate:  ;

    --tw-backdrop-invert:  ;

    --tw-backdrop-opacity:  ;

    --tw-backdrop-saturate:  ;

    --tw-backdrop-sepia:  
}

::backdrop {

    --tw-border-spacing-x: 0;

    --tw-border-spacing-y: 0;

    --tw-translate-x: 0;

    --tw-translate-y: 0;

    --tw-rotate: 0;

    --tw-skew-x: 0;

    --tw-skew-y: 0;

    --tw-scale-x: 1;

    --tw-scale-y: 1;

    --tw-pan-x:  ;

    --tw-pan-y:  ;

    --tw-pinch-zoom:  ;

    --tw-scroll-snap-strictness: proximity;

    --tw-ordinal:  ;

    --tw-slashed-zero:  ;

    --tw-numeric-figure:  ;

    --tw-numeric-spacing:  ;

    --tw-numeric-fraction:  ;

    --tw-ring-inset:  ;

    --tw-ring-offset-width: 0px;

    --tw-ring-offset-color: #fff;

    --tw-ring-color: rgb(59 130 246 / 0.5);

    --tw-ring-offset-shadow: 0 0 #0000;

    --tw-ring-shadow: 0 0 #0000;

    --tw-shadow: 0 0 #0000;

    --tw-shadow-colored: 0 0 #0000;

    --tw-blur:  ;

    --tw-brightness:  ;

    --tw-contrast:  ;

    --tw-grayscale:  ;

    --tw-hue-rotate:  ;

    --tw-invert:  ;

    --tw-saturate:  ;

    --tw-sepia:  ;

    --tw-drop-shadow:  ;

    --tw-backdrop-blur:  ;

    --tw-backdrop-brightness:  ;

    --tw-backdrop-contrast:  ;

    --tw-backdrop-grayscale:  ;

    --tw-backdrop-hue-rotate:  ;

    --tw-backdrop-invert:  ;

    --tw-backdrop-opacity:  ;

    --tw-backdrop-saturate:  ;

    --tw-backdrop-sepia:  
}

.visible {

    visibility: visible
}

.static {

    position: static
}

.fixed {

    position: fixed
}

.absolute {

    position: absolute
}

.relative {

    position: relative
}

.\!relative {

    position: relative !important
}

.sticky {

    position: sticky
}

.block {

    display: block
}

.flex {

    display: flex
}

.table {

    display: table
}

.transform {

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.truncate {

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap
}

.border {

    border-width: 1px
}

.uppercase {

    text-transform: uppercase
}

.lowercase {

    text-transform: lowercase
}

.italic {

    font-style: italic
}

.underline {

    -webkit-text-decoration-line: underline;

            text-decoration-line: underline
}

.filter {

    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

/** header **/

.site-header {

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    padding: 0px;

    padding-left: 0.25rem;

    padding-right: 0.25rem;

    padding-top: 1rem;

    padding-bottom: 1rem
}

@media (min-width: 1024px) {

    .site-header {

        flex-direction: row;

        align-items: center
    }
}

@media (min-width: 1280px) {

    .site-header {

        margin-left: auto;

        margin-right: auto;

        max-width: 1536px
    }
}

/** logo */

.site-header .gm-logo-website {

    padding: 0.5rem
}

@media (min-width: 1024px) {

    .site-header .gm-logo-website {

        padding-left: 2.25rem
    }
}

.site-header .gm-logo-website a {

    display: flex;

    align-items: center
}

.site-header .gm-logo-website a svg {

    width: 16rem
}

@media (min-width: 1024px) {

    .site-header .gm-logo-website a svg {

        width: 20rem
    }
}

/** navigation **/

.main-navigation {

    margin-top: 0.75rem;

    margin-bottom: 0.75rem;

    margin-left: 1.5rem;

    margin-right: 0.5rem;

    max-width: 100%;

    font-family: var(--wp--preset--font-family--sora)
}

@media (min-width: 768px) {

    .main-navigation {

        margin-left: 2.5rem;

        margin-right: 2.5rem
    }
}

.main-navigation > ul, 
.main-navigation ul > li, 
.wp-block-navigation__responsive-container-content > ul, 
.wp-block-navigation__responsive-container-content ul > li {

    margin: 0px;

    list-style-type: none;

    padding: 0px
}

.main-navigation ul, 
.wp-block-navigation__responsive-container-content ul {

    margin: 0px;

    padding: 0px
}

@media (min-width: 1024px) {

    .main-navigation ul, 
.wp-block-navigation__responsive-container-content ul {

        display: flex
    }
}

.main-navigation ul > li, 
.wp-block-navigation__responsive-container-content ul > li {

    padding: 0px
}

@media (min-width: 1024px) {

    .main-navigation ul > li, 
.wp-block-navigation__responsive-container-content ul > li {

        margin-left: 1.25rem;

        margin-right: 1.25rem
    }
}

.main-navigation ul > li > ul, 
.wp-block-navigation__responsive-container-content ul > li > ul {

    margin-left: 0.75rem;

    padding-left: 0.75rem
}

/** nav link */

.main-navigation a.wp-block-navigation-item__content, 
.wp-block-navigation__responsive-container-content a {

    font-size: 1.25rem;

    line-height: 1.75rem;

    font-weight: 700;

    --tw-text-opacity: 1;

    color: rgb(107 114 128 / var(--tw-text-opacity));

    -webkit-text-decoration-line: none;

            text-decoration-line: none
}

.main-navigation a.wp-block-navigation-item__content:hover, 
.wp-block-navigation__responsive-container-content a:hover {

    color: var(--wp--preset--color--accent)
}

@media (min-width: 768px) {

    .main-navigation a.wp-block-navigation-item__content, 
.wp-block-navigation__responsive-container-content a {

        font-size: 0.875rem;

        line-height: 1.25rem
    }
}

.main-navigation li.current-menu-item a {

    --tw-text-opacity: 1;

    color: rgb(31 41 55 / var(--tw-text-opacity))
}

/** burger button */

.wp-block-navigation__responsive-container-open svg, 
.wp-block-navigation__responsive-container-close svg {

    color: var(--wp--preset--color--accent)
}

.wp-block-navigation__responsive-container-close {

    top: 1.25rem;

    right: 1rem
}

/** menu mobile */

.wp-block-navigation__responsive-container.is-menu-open {

    padding-left: 0px;

    padding-right: 0px
}

footer.wp-block-template-part {

    --tw-bg-opacity: 1;

    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

    padding-top: 3rem
}

footer.wp-block-template-part > div > div {

    margin-left: auto;

    margin-right: auto;

    display: flex;

    flex-direction: column;

    align-items: center
}

@media (min-width: 768px) {

    footer.wp-block-template-part > div > div {

        flex-direction: row
    }
}

@media (min-width: 1280px) {

    footer.wp-block-template-part > div > div {

        max-width: 1280px
    }
}

/** logo */

footer.wp-block-template-part > div > div > a {

    padding: 0.5rem
}

@media (min-width: 1024px) {

    footer.wp-block-template-part > div > div > a {

        padding-left: 2.25rem
    }
}

footer.wp-block-template-part > div > div a svg {

    width: 16rem
}

/** nav */

footer.wp-block-template-part > div > div > nav {

    margin-top: 1.75rem;

    flex: 1 1 0%
}

@media (min-width: 768px) {

    footer.wp-block-template-part > div > div > nav {

        margin: 0px
    }
}

footer.wp-block-template-part > div > div > nav ul {

    justify-content: center
}

footer.wp-block-template-part > div > div > nav ul a {

    font-size: 0.875rem;

    line-height: 1.25rem;

    --tw-text-opacity: 1;

    color: rgb(107 114 128 / var(--tw-text-opacity));

    -webkit-text-decoration-line: none;

            text-decoration-line: none
}

footer.wp-block-template-part > div > div > nav ul a:hover {

    color: var(--wp--preset--color--accent)
}

/** social */

footer.wp-block-template-part
  .wp-block-social-links:not(.is-style-logos-only)
  .wp-social-link-youtube, 
footer.wp-block-template-part
  .wp-block-social-links:not(.is-style-logos-only)
  .wp-social-link-github {

    --tw-bg-opacity: 1;

    background-color: rgb(55 65 81 / var(--tw-bg-opacity))
}

footer.wp-block-template-part .wp-block-social-links {

    margin-top: 3rem;

    gap: 0.5rem
}

@media (min-width: 768px) {

    footer.wp-block-template-part .wp-block-social-links {

        margin-top: 0px;

        margin-right: 3rem
    }
}

footer.wp-block-template-part .wp-block-social-links .wp-social-link svg {

    height: 1.25rem;

    width: 1.25rem
}

/** text */

footer.wp-block-template-part > div > div:last-child {

    margin-left: auto;

    margin-right: auto;

    display: flex;

    align-items: center;

    justify-content: center;

    border-top-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgb(243 244 246 / var(--tw-border-opacity));

    padding-top: 1.5rem;

    padding-bottom: 1.5rem;

    font-size: 0.75rem;

    line-height: 1rem;

    --tw-text-opacity: 1;

    color: rgb(107 114 128 / var(--tw-text-opacity))
}

.wp-block[data-align='full'] {

    max-width: none
}

.wp-block[data-align='wide'] {

    max-width: 100%
}
