body {
  @apply bg-body;
}

.site-main,
.main-content {
  @apply mt-0;
}

.main-content {
  @apply min-h-[40vh] py-16 mt-0;
}

.home .main-content {
  @apply py-0;
}

/** width content align */
body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  @apply mx-auto max-w-[98vw] lg:max-w-custom-content;
}

.wp-block-post-content
  > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
  @apply px-4 mx-auto max-w-[98vw] lg:max-w-custom-content;
}

.wp-block-post-content > .alignleft {
  @apply float-none mr-auto;
}

.wp-block-post-content > .alignright {
  @apply float-none ml-auto;
}

.wp-block-post-content ul {
  @apply ml-6;
}

/** button */
.button-with-icon {
  @apply relative hover:bg-accent rounded-3xl;
}

.button-with-icon > p > a {
  @apply static hover:after:hidden before:content-[''] before:absolute before:inset-0.5 before:bg-transparent before:rounded-3xl before:hover:bg-white/25 before:border before:border-transparent before:block;
}

.button-with-icon .wp-block-social-links {
  @apply ml-3;
}

/** template */

.no-hero {
  @apply pt-48;
}

.no-hero > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  @apply mx-auto max-w-[98vw] lg:max-w-custom-content;
}

/** text selection color */

::selection {
  @apply text-white bg-accent;
}

.wp-block-post-content
  a:where(:not(.wp-block-button__link):not(.wp-block-social-link-anchor)) {
  @apply after:content-[''] after:block after:absolute after:-bottom-0.5 after:left-0 after:w-0 after:h-0.5 relative after:transition-all hover:after:w-full after:bg-link-gradient hover:no-underline no-underline;
}

.wp-block-post-title a,
.wp-block-post-featured-image a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  @apply no-underline after:hidden text-inherit after:content-none hover:after:hidden;
}

/** core/separator */
.wp-block-separator {
  border-bottom: 1px solid;
}

/** code **/

p > code {
  @apply px-1 py-0.5 bg-slate-200;
}

/** block style */

.is-style-img-dropshadow img {
  filter: drop-shadow(0 0 0.75rem var(--wp--preset--color--cyan-bluish-gray));
}

.is-style-img-dropshadow-rounded img {
  @apply rounded-xl;
  filter: drop-shadow(0 0 0.75rem var(--wp--preset--color--cyan-bluish-gray));
}

.is-style-text-gradient {
  @apply text-transparent bg-gradient-to-r bg-clip-text from-[#bd34fe] to-[#41d1ff] animate-text-gradient;
}

.presswind-link a span {
  @apply text-transparent bg-gradient-to-r bg-clip-text from-[#bd34fe] to-[#41d1ff] animate-text-gradient;
}
