body {
  @apply bg-body;
}

.site-main,
.main-content {
  @apply mt-0;
}

.main-content {
  @apply min-h-[40vh] py-16 mt-0;
}

.home .main-content {
  @apply py-0;
}

/** width content align */
.wp-block-post-content
  > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
  max-width: var(--wp--custom--sizes--content);
  @apply px-4 mx-auto;
}

.wp-block-post-content > .alignleft {
  @apply float-none mr-auto;
}

.wp-block-post-content > .alignright {
  @apply float-none ml-auto;
}

/** text selection color */

::selection {
  @apply text-white bg-accent;
}

.wp-block-post-content
  a:where(:not(.wp-block-button__link):not(.wp-block-social-link-anchor)) {
  @apply after:content-[''] after:block after:absolute after:-bottom-0.5 after:left-0 after:w-0 after:h-0.5 relative after:transition-all hover:after:w-full after:bg-link-gradient hover:no-underline no-underline;
}

.wp-block-post-title a,
.wp-block-post-featured-image a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  @apply no-underline after:hidden text-inherit after:content-none hover:after:hidden;
}

/** core/separator */
.wp-block-separator {
  border-bottom: 1px solid;
}
