<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main", "layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"align":"wide","style":{"dimensions":{"minHeight":"16rem"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide" style="min-height:16rem">
        <!-- wp:post-title {"textAlign":"left","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|60"}}}} /--></div>
    <!-- /wp:group -->
    <!-- wp:group {"className":"main-content", "layout": {
    "type":"wide"}} -->
    <div class="wp-block-group main-content">
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
