<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"className":"gm-hero-page"} -->
<div class="wp-block-group gm-hero-page">
  <!-- wp:group -->
  <div class="wp-block-group"><!-- wp:post-featured-image /--></div>
  <!-- /wp:group -->

  <!-- wp:group -->
  <div class="wp-block-group">
    <!-- wp:group -->
    <div class="wp-block-group"><!-- wp:post-title {"level":1} /--></div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main">
  <!-- wp:group {"className":"main-content"} -->
  <div class="wp-block-group main-content">
    <!-- wp:post-content /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
