<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"press-wind/hero-search"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"align":"wide","className":"main-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide main-content">
        <!-- wp:group {"align":"wide","className":"wp-block-post-content","layout":{"type":"constrained"}} -->
        <div class="wp-block-group alignwide wp-block-post-content">
            <!-- wp:search {"label":"Recherche","showLabel":false,"buttonText":"Recherche","align":"center"} /-->

            <!-- wp:spacer {"height":"70px"} -->
            <div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:query {"queryId":3,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide","layout":{"type":"constrained"}} -->
            <div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide"} -->
                <!-- wp:post-title {"isLink":true,"fontSize":"2xlarge"} /-->

                <!-- wp:post-date {"textColor":"secondary"} /-->

                <!-- wp:post-excerpt {"moreText":"Lire la suite"} /-->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
                <!-- wp:query-pagination-previous /-->

                <!-- wp:query-pagination-numbers /-->

                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->

                <!-- wp:query-no-results -->
                <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
                <p></p>
                <!-- /wp:paragraph -->
                <!-- /wp:query-no-results -->
            </div>
            <!-- /wp:query -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->