<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main">
  <!-- wp:group {"className":"gm-hero-page", "align":"wide"} -->
  <div class="wp-block-group gm-hero-page alignwide">
    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:post-featured-image {"className":"nolazy"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group -->
    <div class="wp-block-group">
      <!-- wp:group -->
      <div class="wp-block-group"><!-- wp:post-title {"level":1} /--></div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"className":"main-content"} -->
  <div class="wp-block-group main-content">
    <!-- wp:post-content /-->

    <!-- wp:group {"className":"wp-block-post-content"} -->
    <div class="wp-block-group wp-block-post-content">
      <!-- wp:post-terms {"term":"snippet-category"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
