<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug" : "press-wind/hero-post"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"align":"wide","className":"main-content","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide main-content"><!-- wp:post-content {"align":"wide"} /--></div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug": "press-wind/carousel-posts"} /-->

<!-- wp:template-part {"slug":"footer"} /-->