<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main">
  <!-- wp:pattern {"slug" : "press-wind/hero-page"} /-->

  <!-- wp:group {"className":"main-content", "layout": {
  "type":"constrained"}} -->
  <div class="wp-block-group main-content">
    <!-- wp:post-content /-->

    <!-- wp:group {"className":"wp-block-post-content"} -->
    <div class="wp-block-group wp-block-post-content">
      <!-- wp:post-terms {"term":"snippet-category"} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
